clock_generator.vhdl
clock_generator_arwz.ucf
command_fifo.vhd
command_fifo/
main.bit
nextx_adder.vhd
nextx_adder/
sprite_memory.vhd
sprite_memory/
sram_addr_adder.vhd
sram_addr_adder/
usage_statistics_webtalk.html
fuse.xmsgs
fuseRelaunch.cmd
isim/

ise
tmp
xst
xlnx_auto_0_xdb
_ngo
_xmsgs
*.bit
*.lso
*.ngd
*_map.ngm
*.ngr
*.pad
*.par
*.twr
*.xpi
*.bgn
*.drc
*.ptwx
*.twx
*.unroutes
*_map.ncd
*.ncd
*_bitgen.xwbt
*.bld
*_map.mrp
*_map.map
*_pad.csv
*.pcf
*_vhdl.prj
*.ngc
*.asy
*.gise
*.log
*.tcl
*.cgc
*.txt
*.xml
*.vho
*.xrpt
*.xise
*.psr
