
#Created by Constraints Editor (xc3s50-vq100-5) - 2014/04/07
NET "clk40" TNM_NET = "clk40";
TIMESPEC TS_clk40 = PERIOD "clk40" 25 ns HIGH 50 %;

NET "flash_io[3]" IOSTANDARD = LVCMOS33;
NET "flash_io[2]" IOSTANDARD = LVCMOS33;
NET "flash_io[1]" IOSTANDARD = LVCMOS33;
NET "flash_io[0]" IOSTANDARD = LVCMOS33;
NET "lcd_db[7]" IOSTANDARD = LVCMOS33;
NET "lcd_db[6]" IOSTANDARD = LVCMOS33;
NET "lcd_db[5]" IOSTANDARD = LVCMOS33;
NET "lcd_db[4]" IOSTANDARD = LVCMOS33;
NET "lcd_db[3]" IOSTANDARD = LVCMOS33;
NET "lcd_db[2]" IOSTANDARD = LVCMOS33;
NET "lcd_db[1]" IOSTANDARD = LVCMOS33;
NET "lcd_db[0]" IOSTANDARD = LVCMOS33;
NET "mcu_data[9]" IOSTANDARD = LVCMOS33;
NET "mcu_data[8]" IOSTANDARD = LVCMOS33;
NET "mcu_data[7]" IOSTANDARD = LVCMOS33;
NET "mcu_data[6]" IOSTANDARD = LVCMOS33;
NET "mcu_data[5]" IOSTANDARD = LVCMOS33;
NET "mcu_data[4]" IOSTANDARD = LVCMOS33;
NET "mcu_data[3]" IOSTANDARD = LVCMOS33;
NET "mcu_data[2]" IOSTANDARD = LVCMOS33;
NET "mcu_data[1]" IOSTANDARD = LVCMOS33;
NET "mcu_data[0]" IOSTANDARD = LVCMOS33;
NET "sram_addr[18]" IOSTANDARD = LVCMOS33;
NET "sram_addr[17]" IOSTANDARD = LVCMOS33;
NET "sram_addr[16]" IOSTANDARD = LVCMOS33;
NET "sram_addr[15]" IOSTANDARD = LVCMOS33;
NET "sram_addr[14]" IOSTANDARD = LVCMOS33;
NET "sram_addr[13]" IOSTANDARD = LVCMOS33;
NET "sram_addr[12]" IOSTANDARD = LVCMOS33;
NET "sram_addr[11]" IOSTANDARD = LVCMOS33;
NET "sram_addr[10]" IOSTANDARD = LVCMOS33;
NET "sram_addr[9]" IOSTANDARD = LVCMOS33;
NET "sram_addr[8]" IOSTANDARD = LVCMOS33;
NET "sram_addr[7]" IOSTANDARD = LVCMOS33;
NET "sram_addr[6]" IOSTANDARD = LVCMOS33;
NET "sram_addr[5]" IOSTANDARD = LVCMOS33;
NET "sram_addr[4]" IOSTANDARD = LVCMOS33;
NET "sram_addr[3]" IOSTANDARD = LVCMOS33;
NET "sram_addr[2]" IOSTANDARD = LVCMOS33;
NET "sram_addr[1]" IOSTANDARD = LVCMOS33;
NET "sram_addr[0]" IOSTANDARD = LVCMOS33;
NET "sram_data[7]" IOSTANDARD = LVCMOS33;
NET "sram_data[6]" IOSTANDARD = LVCMOS33;
NET "sram_data[5]" IOSTANDARD = LVCMOS33;
NET "sram_data[4]" IOSTANDARD = LVCMOS33;
NET "sram_data[3]" IOSTANDARD = LVCMOS33;
NET "sram_data[2]" IOSTANDARD = LVCMOS33;
NET "sram_data[1]" IOSTANDARD = LVCMOS33;
NET "sram_data[0]" IOSTANDARD = LVCMOS33;
NET "busy" IOSTANDARD = LVCMOS33;
NET "clk40" IOSTANDARD = LVCMOS33;
NET "flash_clk" IOSTANDARD = LVCMOS33;
NET "flash_ncs" IOSTANDARD = LVCMOS33;
NET "lcd_ale" IOSTANDARD = LVCMOS33;
NET "lcd_rs" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;
NET "sram_nwr" IOSTANDARD = LVCMOS33;
NET "lcd_wr" IOSTANDARD = LVCMOS33;
NET "lcd_te" IOSTANDARD = LVCMOS33;
NET "mcu_wr" IOSTANDARD = LVCMOS33;
NET "debug" IOSTANDARD = LVCMOS33;


NET "busy" LOC = P59;
NET "clk40" LOC = P38;

NET "sram_addr[9]" LOC = P2;
NET "sram_addr[8]" LOC = P4;
NET "sram_addr[7]" LOC = P5;
NET "sram_addr[6]" LOC = P8;
NET "sram_addr[5]" LOC = P9;
NET "sram_data[3]" LOC = P11;
NET "sram_data[2]" LOC = P12;
NET "sram_data[1]" LOC = P13;
NET "sram_data[0]" LOC = P14;
NET "sram_addr[4]" LOC = P15;
NET "sram_addr[3]" LOC = P16;
NET "sram_addr[2]" LOC = P17;
NET "sram_addr[1]" LOC = P21;
NET "sram_addr[0]" LOC = P22;
NET "sram_nwr" LOC = P23;
NET "sram_addr[10]" LOC = P1;
NET "sram_addr[11]" LOC = P97;
NET "sram_addr[12]" LOC = P96;
NET "sram_addr[13]" LOC = P92;
NET "sram_addr[14]" LOC = P91;
NET "sram_data[4]" LOC = P90;
NET "sram_data[5]" LOC = P89;
NET "sram_data[6]" LOC = P88;
NET "sram_data[7]" LOC = P87;
NET "sram_addr[15]" LOC = P86;
NET "sram_addr[16]" LOC = P85;
NET "sram_addr[17]" LOC = P81;
NET "sram_addr[18]" LOC = P80;

NET "flash_clk" LOC = P47;
NET "flash_ncs" LOC = P54;
NET "flash_io[0]" LOC = P49;
NET "flash_io[1]" LOC = P53;
NET "flash_io[2]" LOC = P50;
NET "flash_io[3]" LOC = P44;


NET "lcd_db[7]" LOC = P27;
NET "lcd_db[6]" LOC = P28;
NET "lcd_db[5]" LOC = P30;
NET "lcd_db[4]" LOC = P32;
NET "lcd_db[3]" LOC = P34;
NET "lcd_db[2]" LOC = P35;
NET "lcd_db[1]" LOC = P36;
NET "lcd_db[0]" LOC = P37;
NET "lcd_ale" LOC = P43;
NET "lcd_rs" LOC = P42;
NET "lcd_wr" LOC = P40;
NET "lcd_te" LOC = P39;
NET "mcu_wr" LOC = P60;
NET "reset" LOC = P79;
NET "mcu_data[9]" LOC = P61;
NET "mcu_data[8]" LOC = P62;
NET "mcu_data[7]" LOC = P63;
NET "mcu_data[6]" LOC = P65;
NET "mcu_data[5]" LOC = P67;
NET "mcu_data[4]" LOC = P68;
NET "mcu_data[3]" LOC = P71;
NET "mcu_data[2]" LOC = P72;
NET "mcu_data[1]" LOC = P74;
NET "mcu_data[0]" LOC = P75;


NET "debug" LOC = P55;


NET "flash_io[3]" SLEW = FAST;
NET "flash_io[2]" SLEW = FAST;
NET "flash_io[1]" SLEW = FAST;
NET "flash_io[0]" SLEW = FAST;
NET "lcd_db[7]" SLEW = FAST;
NET "lcd_db[6]" SLEW = FAST;
NET "lcd_db[5]" SLEW = FAST;
NET "lcd_db[4]" SLEW = FAST;
NET "lcd_db[3]" SLEW = FAST;
NET "lcd_db[2]" SLEW = FAST;
NET "lcd_db[1]" SLEW = FAST;
NET "lcd_db[0]" SLEW = FAST;
NET "sram_addr[18]" SLEW = FAST;
NET "sram_addr[17]" SLEW = FAST;
NET "sram_addr[16]" SLEW = FAST;
NET "sram_addr[15]" SLEW = FAST;
NET "sram_addr[14]" SLEW = FAST;
NET "sram_addr[13]" SLEW = FAST;
NET "sram_addr[12]" SLEW = FAST;
NET "sram_addr[11]" SLEW = FAST;
NET "sram_addr[10]" SLEW = FAST;
NET "sram_addr[9]" SLEW = FAST;
NET "sram_addr[8]" SLEW = FAST;
NET "sram_addr[7]" SLEW = FAST;
NET "sram_addr[6]" SLEW = FAST;
NET "sram_addr[5]" SLEW = FAST;
NET "sram_addr[4]" SLEW = FAST;
NET "sram_addr[3]" SLEW = FAST;
NET "sram_addr[2]" SLEW = FAST;
NET "sram_addr[1]" SLEW = FAST;
NET "sram_addr[0]" SLEW = FAST;
NET "sram_data[7]" SLEW = FAST;
NET "sram_data[6]" SLEW = FAST;
NET "sram_data[5]" SLEW = FAST;
NET "sram_data[4]" SLEW = FAST;
NET "sram_data[3]" SLEW = FAST;
NET "sram_data[2]" SLEW = FAST;
NET "sram_data[1]" SLEW = FAST;
NET "sram_data[0]" SLEW = FAST;
NET "busy" SLEW = FAST;
NET "debug" SLEW = FAST;
NET "lcd_rs" SLEW = FAST;
NET "lcd_ale" SLEW = FAST;
NET "flash_ncs" SLEW = FAST;
NET "flash_clk" SLEW = FAST;
NET "lcd_wr" SLEW = FAST;
NET "sram_nwr" SLEW = FAST;
NET "reset" PULLDOWN;
NET "mcu_wr" PULLUP;
