ise
tmp
xst
xlnx_auto_0_xdb
usage_statistics_webtalk.html
_ngo
_xmsgs
*.bit
*.lso
*.ngd
*_map.ngm
*.ngr
*.pad
*.par
*.twr
*.xpi
*.bgn
*.drc
*.ptwx
*.twx
*.unroutes
*_map.ncd
*.ncd
*_bitgen.xwbt
*.bld
*_map.mrp
*_map.map
*_pad.csv
*.pcf
*_vhdl.prj
*.ngc
*.asy
*.gise
*.log
*.tcl
*.cgc
*.txt
*.xml
*.vho
*.xrpt
*.xise
*.psr
