NET "clk40" TNM_NET = "clk40";
TIMESPEC TS_clk40 = PERIOD "clk40" 25 ns HIGH 50 %;

# PlanAhead Generated IO constraints 

NET "status" IOSTANDARD = LVCMOS33;
NET "clk40" IOSTANDARD = LVCMOS33;
NET "sram_addr[18]" IOSTANDARD = LVCMOS33;
NET "sram_addr[17]" IOSTANDARD = LVCMOS33;
NET "sram_addr[16]" IOSTANDARD = LVCMOS33;
NET "sram_addr[15]" IOSTANDARD = LVCMOS33;
NET "sram_addr[14]" IOSTANDARD = LVCMOS33;
NET "sram_addr[13]" IOSTANDARD = LVCMOS33;
NET "sram_addr[12]" IOSTANDARD = LVCMOS33;
NET "sram_addr[11]" IOSTANDARD = LVCMOS33;
NET "sram_addr[10]" IOSTANDARD = LVCMOS33;
NET "sram_addr[9]" IOSTANDARD = LVCMOS33;
NET "sram_addr[8]" IOSTANDARD = LVCMOS33;
NET "sram_addr[7]" IOSTANDARD = LVCMOS33;
NET "sram_addr[6]" IOSTANDARD = LVCMOS33;
NET "sram_addr[5]" IOSTANDARD = LVCMOS33;
NET "sram_addr[4]" IOSTANDARD = LVCMOS33;
NET "sram_addr[3]" IOSTANDARD = LVCMOS33;
NET "sram_addr[2]" IOSTANDARD = LVCMOS33;
NET "sram_addr[1]" IOSTANDARD = LVCMOS33;
NET "sram_addr[0]" IOSTANDARD = LVCMOS33;
NET "sram_data[7]" IOSTANDARD = LVCMOS33;
NET "sram_data[6]" IOSTANDARD = LVCMOS33;
NET "sram_data[5]" IOSTANDARD = LVCMOS33;
NET "sram_data[4]" IOSTANDARD = LVCMOS33;
NET "sram_data[3]" IOSTANDARD = LVCMOS33;
NET "sram_data[2]" IOSTANDARD = LVCMOS33;
NET "sram_data[1]" IOSTANDARD = LVCMOS33;
NET "sram_data[0]" IOSTANDARD = LVCMOS33;
NET "sram_nwr" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "status" LOC = P55;
NET "clk40" LOC = P38;
NET "sram_addr[9]" LOC = P2;
NET "sram_addr[8]" LOC = P4;
NET "sram_addr[7]" LOC = P5;
NET "sram_addr[6]" LOC = P8;
NET "sram_addr[5]" LOC = P9;
NET "sram_data[3]" LOC = P11;
NET "sram_data[2]" LOC = P12;
NET "sram_data[1]" LOC = P13;
NET "sram_data[0]" LOC = P14;
NET "sram_addr[4]" LOC = P15;
NET "sram_addr[3]" LOC = P16;
NET "sram_addr[2]" LOC = P17;
NET "sram_addr[1]" LOC = P21;
NET "sram_addr[0]" LOC = P22;
NET "sram_nwr" LOC = P23;
NET "sram_addr[10]" LOC = P1;
NET "sram_addr[11]" LOC = P97;
NET "sram_addr[12]" LOC = P96;
NET "sram_addr[13]" LOC = P92;
NET "sram_addr[14]" LOC = P91;
NET "sram_data[4]" LOC = P90;
NET "sram_data[5]" LOC = P89;
NET "sram_data[6]" LOC = P88;
NET "sram_data[7]" LOC = P87;
NET "sram_addr[15]" LOC = P86;
NET "sram_addr[16]" LOC = P85;
NET "sram_addr[17]" LOC = P81;
NET "sram_addr[18]" LOC = P80;

NET "sram_addr[18]" SLEW = FAST;
NET "sram_addr[17]" SLEW = FAST;
NET "sram_addr[16]" SLEW = FAST;
NET "sram_addr[15]" SLEW = FAST;
NET "sram_addr[14]" SLEW = FAST;
NET "sram_addr[13]" SLEW = FAST;
NET "sram_addr[12]" SLEW = FAST;
NET "sram_addr[11]" SLEW = FAST;
NET "sram_addr[10]" SLEW = FAST;
NET "sram_addr[9]" SLEW = FAST;
NET "sram_addr[8]" SLEW = FAST;
NET "sram_addr[7]" SLEW = FAST;
NET "sram_addr[6]" SLEW = FAST;
NET "sram_addr[5]" SLEW = FAST;
NET "sram_addr[4]" SLEW = FAST;
NET "sram_addr[3]" SLEW = FAST;
NET "sram_addr[2]" SLEW = FAST;
NET "sram_addr[1]" SLEW = FAST;
NET "sram_addr[0]" SLEW = FAST;
NET "sram_data[7]" SLEW = FAST;
NET "sram_data[6]" SLEW = FAST;
NET "sram_data[5]" SLEW = FAST;
NET "sram_data[4]" SLEW = FAST;
NET "sram_data[3]" SLEW = FAST;
NET "sram_data[2]" SLEW = FAST;
NET "sram_data[1]" SLEW = FAST;
NET "sram_data[0]" SLEW = FAST;
NET "sram_nwr" SLEW = FAST;
NET "status" SLEW = FAST;
